body {
    background-color: rgb(138, 138, 138);
}

header {
    background-color: #fff; 
}

.logo {
    width: 100px;
    position: relative;
    top: 50px;
    left: 95px;
}

.navegacao {
    position: relative;
}

nav {
    position: relative;
    top: -100px;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 0 0 65px;
}

nav a {
    text-transform: uppercase;
    color: #222;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover {
    opacity: 70%;
    text-decoration: underline;
}

#int {
    font-size: 50px;
    position: relative;
    top: -100px;
    text-align: center;
    text-decoration: underline;
}



.text {
    font-weight: bold;
    font-size: 25px;
    position: relative;
    top: 200px;
    left: 20px;
}

.text p {
    font-weight: bold;
    font-size: 25px;
    position: relative;
    top: 50px;
    left: 300px;
} 

#dg2 {
    font-size: 50px;
    position: relative;
    top: 370px;
    left: 850px;
    text-decoration: underline;
    color: black;
    padding: 0 0 200px 0;
}

#dg2:hover {
    transition: 1s;
    opacity: 30%;
    text-decoration: none;
}

footer {
    position: relative;
    top: 550px;
    text-align: center;
    background-color: #fff;
    padding: 20px 0;
}

footer img {
    width: 200px;
}

.copyright {
    color: #000;
    font-size: 20px;
    margin: 0px 0 0;
}

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video{
        width: auto;
    }

    h1 {
        text-align: center;
    }
    
    nav {
        position: static;
    }

    .lista-beneficios, .imagembeneficios {
        width: 100%;
    }
}