body {
    background-color: rgb(138, 138, 138);
}

header {
    background-color: #fff; 
}

.logo {
    width: 100px;
    position: relative;
    top: 50px;
    left: 95px;
}

.navegacao {
    position: relative;
}

nav {
    position: relative;
    top: -100px;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 0 0 65px;
}

nav a {
    text-transform: uppercase;
    color: #222;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover {
    opacity: 70%;
    text-decoration: underline;
}

#dg {
    font-size: 50px;
    position: absolute;
    top: 350px;
    left: 470px;
    text-decoration: underline;
    color: black;
}

.text2 {
    font-weight: bold;
    font-size: 25px;
    position: relative;
    top: 200px;
    left: 20px;
}

.text2 p {
    font-weight: bold;
    font-size: 25px;
    position: relative;
    top:150px;
    left: 200px;
    
}

.text2 h2 {
    font-size: 40px;
    position: relative;
    top:150px;
    left: 280px;
    
}

.text2 h3 {
    font-size: 30px;
    position: relative;
    top:150px;
    left: 280px;
    
}

.img {
    width: 900px;
    position: relative;
    top: 200px;
    left: 450px;
    border: solid black 4px;
    border-radius: 20px;
}

#legenda {
    width: 900px;
    position: relative;
    top: 200px;
    left: 490px;
    padding: 0 0 200px 0;
}

#dg2 {
    font-size: 50px;
    position: absolute;
    top: 2250px;
    left: 470px;
    text-decoration: underline;
    color: black;
    padding: 0 0 200px 0;
}

#dg2:hover { 
    opacity: 50%;
    text-decoration: none;
    transition: 1s;
}

.text3 {
    font-weight: bold;
    font-size: 25px;
    position: relative;
    top: -1900px;
    left: 20px;
    padding: 0 0 250px 0;
}

footer {
    position: relative;
    top: 250px;
    text-align: center;
    background-color: #fff;
    padding: 20px 0;
}

footer img {
    width: 200px;
}

.copyright {
    color: #000;
    font-size: 20px;
    margin: 20px 0 0;
}