body {
    background-color: rgb(138, 138, 138);
}

header {
    background-color: #fff; 
}

.logo {
    width: 100px;
    position: relative;
    top: 50px;
    left: 95px;
}

.navegacao {
    position: relative;
}

nav {
    position: relative;
    top: -100px;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 0 0 65px;
}

nav a {
    text-transform: uppercase;
    color: #222;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover {
    opacity: 70%;
    text-decoration: underline;
}

#fas {
    font-size: 50px;
    position: relative;
    top: 220px;
    left: 630px;
    text-decoration: underline;
}

.img {
    width: 900px;
    position: relative;
    top: 120px;
    left: 400px;
    border: black solid 4px;
    border-radius: 16px;
}

.text {
    font-weight: bold;
    font-size: 25px;
    position: relative;
    top: 200px;
    left: 20px;
}

.text p {
    font-weight: bold;
    font-size: 25px;
    position: relative;
    top:150px;
    left: 160px;
}

.mt1 {
    width: 400px;
    position: relative;
    top: 160px;
    left: 500px;
}

.mt2 {
    width: 300px;
    position: relative;
    top: 160px;
    left: 400px;
}

.text h1 {
    font-weight: bold;
    position: relative;
    top:180px;
    left: 380px;   
}

#nd {
    padding: 0 0 350px 0;
}

#dg {
    font-size: 50px;
    position: absolute;
    top: 2800px;
    left: 760px;
    text-decoration: underline;
    color: black;
    padding: 0 0 200px 0;
}

#dg:hover {
    transition: 1s;
    opacity: 30%;
    text-decoration: none;
}

footer {
    position: relative;
    top: 250px;
    text-align: center;
    background-color: #fff;
    padding: 20px 0;
}

footer img {
    width: 200px;
}

.copyright {
    color: #000;
    font-size: 20px;
    margin: 20px 0 0;
}
