header {
    background-image: linear-gradient(#444, #fff); 
    border: solid black 2px;
}

.logo {
    width: 100px;
    position: relative;
    top: 30px;
    left: 95px;
}

.logo2 {
    width: 100px;
    position: relative;
    left: 230px;
    top: -30px;
}

nav {
    position: absolute;
    top: 50px;
    right: 550px;
}

nav li {
    display: inline;
    margin: 0 0 0 65px;
}

nav a {
    text-transform: uppercase;
    color: #222;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover {
    opacity: 70%;
    text-decoration: underline;
}

#fas {
    font-size: 50px;
    position: relative;
    top: 220px;
    left: 630px;
    text-decoration: underline;
}

.img {
    width: 900px;
    position: relative;
    top: 120px;
    left: 400px;
    border: black solid 4px;
    border-radius: 16px;
}

.text {
    font-weight: bold;
    font-size: 25px;
    position: relative;
    top: 200px;
    left: 20px;
}

.text p {
    font-weight: bold;
    font-size: 25px;
    position: relative;
    top:150px;
    left: 160px;
}

.mt1 {
    width: 400px;
    position: relative;
    top: 160px;
    left: 500px;
}

.mt2 {
    width: 300px;
    position: relative;
    top: 160px;
    left: 400px;
}

.text h1 {
    font-weight: bold;
    position: relative;
    top:180px;
    left: 380px;   
}

#nd {
    padding: 0 0 150px 0;
}
